flask==3.0.3
flask-sqlalchemy==3.1.1
flask-migrate==4.0.7
flask-login==0.6.3
flask-socketio==5.3.6
flask-wtf==1.2.1
python-dotenv==1.0.1
werkzeug==3.0.3
eventlet==0.35.2
opencv-python==4.10.0.84
numpy==1.26.4
openvino==2024.1.0
onnxruntime==1.18.1
pillow==10.3.0
gunicorn==22.0.0
wtforms==3.1.2
email-validator==2.1.1
